{% extends 'base.html' %}
{% load static %}

    <head>
      <meta charset="utf-8">
      <title>{% block title %} login {% endblock %}</title>
    </head>

    <body>
      {% block content%}
      <!-- Nav Bar Start -->

        {% if user.is_authenticated %}

      <div class="nav-bar nav-sticky">
        <div class="container">
          <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a href="#" class="navbar-brand"></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
              <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link active" href="{% url 'home' %}">
                  <li>Home</li>
                </a>
                <a class="nav-item nav-link" href="{% url 'instructions' %}">
                  <li>Instructions</li>
                </a>
                <a class="nav-item nav-link" href="{% url 'vote' %}">
                  <li>Vote</li>
                </a>
                <a class="nav-item nav-link" href="{% url 'about' %}">
                  <li>About</li>
                </a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">
                  <li>Logout</li>
                </a>
              </div>
            </div>
          </nav>
        </div>
      </div>

      {% else %}
      <div class="nav-bar nav-sticky">
        <div class="container">
          <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a href="#" class="navbar-brand"></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
              <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{% url 'home' %}">
                  <li>Home</li>
                </a>
                <a class="nav-item nav-link active " href="{% url 'login' %}">
                  <li>Login</li>
                </a>
                <a class="nav-item nav-link" href="{% url 'instructions' %}">
                  <li>Instructions</li>
                </a>
                <a class="nav-item nav-link" href="{% url 'about' %}">
                  <li>About</li>
                </a>
              </div>
            </div>
          </nav>
        </div>
      </div>

      {% endif %}
      <!-- Nav Bar End -->


      <br>
      <br>
      <br>

      <!-- uds logo -->
      <center><img src="{% static 'img/msa_ec_logo.png' %}" height="200px" width="200px"></center>


<center>
<form method="post" >
    {% csrf_token %}
  <div class="form-group">
   {{form.as_p}}
  </div>
  <button type="submit" class="btn btn-danger-md">Login</button>
</form>
</center>
{% endblock content%}
